.properties-space-for-cards-mr{
    height: 530px !important;
    border-radius: 8px;
    border: 1px solid #d8ad5d;
    background: rgba(217, 217, 217, 0);
    padding: 2%;
    overflow-y: scroll;
	overflow-x: hidden;
}
.expense-table-input-text-field-mr{
    height: 2.5rem;
    border-radius: 6px;
    border: 1px solid #21272a;
    background: #fff;
    text-align: center;
    width: 22.70119rem;
}

