.properties-space-for-cards-mr{
    height: 530px !important;
    border-radius: 8px;
    border: 1px solid #d8ad5d;
    background: rgba(217, 217, 217, 0);
    padding: 2%;
    overflow-y: scroll;
	overflow-x: hidden;
}
.expense-table-input-text-field-mr{
    height: 2.5rem;
    border-radius: 6px;
    border: 1px solid #21272a;
    background: #fff;
    text-align: center;
    width: 22.70119rem;
}

.add-property-total-box{
    margin-top: 1.7rem;
    padding-right: 2.75rem !important;
    padding-left: 2.75rem !important;
    width: 100% !important;
    height: 45.4375rem !important;
    border: 2px solid #d8ad5d;
    border-radius: 10px;
    padding: 5%;
    padding-top: 4.73rem !important;
    padding-bottom: 1.5rem !important;
}



/* 
.modal {
    z-index: 1050;
    display: block !important;
    background-color: black !important;
    color: white !important;
  }
  
  .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1049;
  }
  
  .modal-dialog {
    margin: 1.75rem auto;
  }
  
  .modal-header,
  .modal-body,
  .modal-footer {
    background-color: black !important;
    color: white !important;
  }
  #_rht_toaster:empty {
    display: none;
  }
   */