/* dashboard-Overview page Styles start */
.top-Navigation-bar{
    margin-left: 5px;
}
.CustomDatePicker-on-overview-page-start-date{
    margin-top: -13px !important;
}
.CustomDatePicker-on-overview-page-end-date{
    margin-top: -13px !important;
}
.mid-block-with-arrow{
    display: flex;
width: 48px;
height: 48px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
background-color: #032D30;
border: 3px solid #D8AD5D;
margin-top: 21px;
margin-left: 6px;
margin-right: 6px;
}

.top-card-body{

}

/* Booking Request div */
.booking-requests-div{
width: 400px;
height: 629px;
border-radius: 8px;
border: 2px solid #D8AD5D;
overflow-y: scroll;
overflow-x: hidden;
padding: 10px;
margin-left: -30px !important;
}

/* Client Action Div */
.client-action-div{
width: 290px !important;
height: 430px;
border-radius: 8px;
border: 2px solid #D8AD5D;
padding: 10px;
margin-left: 47px;
}